<!DOCTYPE html>

<html>
    <head>
        <title>취미</title>
        <link href="D:\GIT_REPOSITORY\html\style_hobby.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>취미: 벽화 봉사 활동</h1>
        <hr>
        <img src="image\KakaoTalk_20230113_023844761_11.jpg" width="60%"><br>
        *벽화 봉사 동아리 활동<br>
        <img src="image\KakaoTalk_20230113_023844761_01.jpg" width="600px"><br>
        -대구 북구 구수산 도서관 벽화 봉사 참여<br>
        <img src="image\KakaoTalk_20230113_023844761_02.jpg" width="600px"><br>
        -경산 삼성현역사문화공원 벽화 봉사 참여<br>
        <img src="image\KakaoTalk_20230113_023844761_05.jpg" width="600px"><br>
        -대구여자단기청소년쉼터 옥상 벽화 봉사 참여<br>
        <img src="image\KakaoTalk_20230113_023844761_07.jpg" width="600px"><br>
        -경북대학교 백호관 실내 벽화 봉사 참여<br>

    </body>