<!DOCTYPE html>
<html>
    <head>
        <nav>

    </nav>



        <title> 포트폴리오 </title> <style>
            .profile-user-img{
             border-radius: 50%
            }
        </style>


        
    </head> 
    <body >
        <div style="text-align : center;">

                <h3>포트폴리오</h3>
        <div><img src="image/AB테스트.PNG" alt="1" style="width:50%;"/><br><br>유저 AB 테스트 진행
            <br>
            <br>
            <br>
        

            
            <img src="image/로그인 화면 개선.png" alt="2" style="width:50%;"/><br><br>
            <b>구글애널리틱스 분석을 통한 로그인 화면 개선</b>




    </ul>            
    </body>

</ul>
</html>