<!DOCTYPE html>

<html>
    <head>
        <title>자기소개_한수아</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
        <body>
            <div class="a">
            <img class="b" src="blog\templates\blog\image\20211218_121223.jpg" width="45%" >
            </div>
            <h2 id="c">한수아</h2>

            <button type="button" class="mbti" onClick="window.open('./mbti')">MBTI</button>
            <button type="button" class="hobby" onClick="window.open('hobby.html')">취미</button>
            <button type="button" class="forest" onClick="window.open('forest.html')">빅데이터 관심 분야</button>
            <button type="button" class="effort" onClick="window.open('effort.html')">노력</button>
            <!--window.open():새창에서 열기-->

        </body>
    
</html>