<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
        <div style="text-align : center;
        color:darkseagreen;">
            <h1>거 북 이<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MjNfMTkx%2FMDAxNTkyODkyMDQ0NzYy.IusHeOBu6nkMU80XWcm0Xsoh5dz8BinSDaDigjHNgw0g.P-yDjx070FyYnDTXiL_8sOzH9WWFD_d_LgTSU-VyZDsg.PNG.topcareamc%2FKakaoTalk_20200623_133129226.png&type=sc960_832"
                style="width:30px; height:30px;">
            </h1>
        </div>
        <div style="text-align : center;
        font-size: 15px;
        background-color: aliceblue;
        font-family: sans-serif;
        width: 90%;">
            <p> &#127775; 느리지만 우리의 길을 찾아가고 있는 우리는 거북이 조입니다! ٩( ᐛ )و &#127775;</p>
        </div>

        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <hr>

    </body>
<html>